
body {
	background-color: rgb(28, 39, 59);

}


h1 {
	color: rgb(255, 255, 255);
	text-align:center;
	font-size:300%;
	font-family:verdana;
	text-decoration:none;
	border: 0.5px solid rgb(123, 123, 123);
  
}

h2 {
	text-align:center;
	color: rgb(99, 193, 191);
	font-size:120%;
	font-family:'Courier New', Courier, monospace;

	
}

p {
	color: red;
	text-align:center;
	font-family:verdana;
  
}


pre {
	color: rgb(255, 255, 255);
	text-align:center;
	font-family:cursive;
	
}

a:link, a:visited {

	background-color: #8173ff;
	color: white;
	padding: 15px 20px;
	text-decoration: none;
	text-align: center;


}
  
a:hover, a:active {
	
	background-color: rgb(72, 0, 255);
	text-align: center;
}

